@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct; 
@using System;

@namespace MyGame 
@inherits Sandbox.UI.Panel




<root>
    @if ((Game.LocalPawn is Player ply) && ply.Inventory.ActiveChild is Gun gun)
    {
        <div class="weapon">@gun.InMagazin /</div>
        <div class="inventory">@gun.AvailableAmmo()</div>
    }
</root>



@code {

    protected override int BuildHash()
    {
        var inMagazin = 0;
        var plyAmmo = 0;
        if ((Game.LocalPawn is Player ply) && ply.Inventory.ActiveChild is Gun wpn)
        {
            inMagazin = wpn.InMagazin;
            plyAmmo = wpn.AvailableAmmo();
        }
        return HashCode.Combine((Game.LocalPawn as Player).Inventory.ActiveChild, inMagazin, plyAmmo);
    }
}
