@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct; 
@using System;
@namespace MyGame
@inherits Sandbox.UI.Panel

<root>
	<label class="template">use mouse wheel to switch weapon. press F to spawn template item | github repository on assetparty page</label>
	<div class="healthfill" style="width: @(GetHealth())%"></div>
</root> 

@code {

	public int GetHealth()
	{
		var pawn = Game.LocalPawn;
		if (pawn == null) return 0;

		return (int)pawn.Health;
	}
	protected override int BuildHash()
	{
		var currentHealth = GetHealth();
		return currentHealth.GetHashCode();
		
	}
}
