@namespace GeneralGame.UI
@attribute [StyleSheet]
@inherits Panel

@if (Player.CPly() is null)
    return;


@code {
    public static Hud Instance { get; private set; }  

    public Hud()
    {
        Instance = this;
    }

    protected override int BuildHash()
    {
        if (Player.CPly() is null)
            return -1;

        var inMagazin = 0;
        if (Player.CPly().InventoryController.Deployed != null && Player.CPly().InventoryController.Deployed is IUseAmmo wpn)
            inMagazin = wpn.Clip;
        
        return HashCode.Combine(
           Player.CPly().HealthController.Health,
           inMagazin
        );
    }

}

@* Anything that is always active and displayed to the player when ingame. *@
<root class="txt">

   <InventoryPart />


   <div class="stats">

       <div class="health">
           
            <img class="img" src="ui/hud_sheld.png" />
            <div class="num">@Player.CPly().HealthController.Health</div>
       </div>


        <div class="ammo">

            <img class="img" src="ui/bullet.png" />

           @{Carriable carriable = Player.CPly().InventoryController.Deployed;}

            @if (carriable.IsValid() && carriable.GameObject.Components.Get<IUseAmmo>() is IUseAmmo gun && gun != null)
            {
                <div class="num">@gun.Clip / @Player.CPly().InventoryController.Get(gun.AmmoType)</div>
            }
            
           
        </div>
        
   </div>
   
</root>


