Ammo {
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 30px;
    color: white;
    padding: 5px 20px;
    align-items: center;
    font-family: Poppins;
    background-color: rgba(0, 0, 0,0.4);
    border-bottom: 1px, white;
    border-radius: 3px;
}

.InClip {
  
}

.PlyAmmo {
   
}
