@using System;
@using FPSGame.Weapons;
@using FPSGame;
@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;

@namespace FPSGame.UI
@attribute [StyleSheet("/ui/Ammo.scss")]
@inherits Sandbox.UI.Panel




<root>

	<label @ref="InClip" class="weapon"></label>
	<label @ref="PlyAmmo" class="inventory"></label>

</root>

@code {
	public Label InClip { get; set; }
	public Label PlyAmmo { get; set; }

	
	public override void Tick()
	{

		var player = Game.LocalPawn as FPSPlayer;
		if (player == null) return;

		var wp = player.ActiveWeapon as Weapon;
		var isValid = (wp != null);

		if (!isValid) return;



		InClip.Text = $"{wp.InMagazin}";


		var inv = wp.AvailableAmmo();
		PlyAmmo.Text = $" / {inv}";


	}

}

