Crosshair {
    position: absolute;
    z-index: -1;
    align-items: flex-end;
    background-color: rgba(200,200,200,0.6);
    mix-blend-mode: lighten;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 50%;
    border-radius: 100px;
    transform: translate( -50% -50% );
}
