@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct; 
@using System;
@namespace MyGame
<style>
	.root {
		position:absolute;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		pointer-events: none;
	}

	.crosshair {
		pointer-events: none;
		background-color: white;
		width: 5px;
		height: 5px;
		border-radius: 5px;
		border-color:black;
		border-width:1px;
	}
	
</style>

<root class="root"> 
	<div class="crosshair"></div>
</root> 
