@using System;
@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;

@namespace FPSGame.UI
@attribute [StyleSheet("/ui/HealthBar.scss")]
@inherits Sandbox.UI.Panel




<root>
    <div class="fill" style="width: @(GetHealth())%"></div>
</root>

@code {
    public int GetHealth()
    {
        var pawn = Game.LocalPawn;
        if (pawn == null) return 0;

        return (int)pawn.Health;
    }
}
