﻿﻿
@using System;
@using Sandbox;
@using Sandbox.UI;

@using System.Collections.Generic;

@namespace FPSGame.UI

@attribute [StyleSheet("/ui/Hud.scss")]
@inherits Sandbox.UI.RootPanel


<root>
	<label class="template">press 1 or 2 to switch weapon. press F to spawn template item | github repository on assetparty page</label>
    <StatsPanel/>
	<Ammo/>
	<Crosshair/>
</root>

@code{

}
