/*RootPanel {
    background-color: rgba(#333, 0);
    transition: background-color 0.2s ease-in;
    transform-origin: 50% 50%;

}



.hud_left {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 32px;
    left: 64px;
}



.hud_right {
    background-color: red;
    position: absolute;
    bottom: 32px;
    right: 64px;
}


*/
.template {
    color: rgba(200,200,200, 0.7);
    font-size: 35px;
}

