
$grey-bg: rgba(50, 50, 50, 1);
$whire-bg: rgba(150, 150, 150, 0.5);
$fullscreen-blur: blur( 10px );
$fullscreen-bg: rgba(50, 50, 50, 0.5);

.stxt {
    font-family: Manrope;
    color: white;
    font-size: 16px;
    text-shadow: 2px 1px 4px white;
}
.txt {
    font-family: Manrope;
    font-size: 24px;
    color: white;
    text-shadow: 2px 1px 4px white;
}

.ttl {
  
    //font-size: 32px;
    
}
