MyWorldPanel {
    color: white;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    //mix-blend-mode: lighten;
    //background-color: rgba( 0, 0, 0, 0.5 );


    .back {
        width: 100%;
        height: 20%;
        font-family: Ebrima;
        font-weight: 800;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        background-color: rgba( 0, 0, 0, 0.5 );
    }
}
