AmmoUI {
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 25px;
    font-weight: 800;
    color: white;
    align-items: center;
    font-family: Arial;
}

.weapon {
    font-size: 42px;
}

.inventory {
}
