@import "../Style.scss";

InputHint {
    
    align-items: center;
    flex-direction: row-reverse;

    .hint {
        font-size: 22px;
        margin-right: 10px;
        margin-left: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 5px;
    }

    .input {
        font-weight: bold;
        color: white;
        font-size: 30px;
        text-transform: uppercase;
        text-shadow: 2px 2px 0px rgba(black, 0.5);
        flex-shrink: 0;
        //transition: all 0.5s ease-out;

        &.dark {
            color: $dark-gray;
            background-color: #1e1e1e;
        }
    }
}
