@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Sandbox.UI.GameMenu.DefaultGameMenu

<root class="gamemainmenu">

    <div class="navigator-canvas" slot="navigator-canvas"></div>

</root>