@using System;
@using System.Linq;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;

@*Someday the shadows in s&box won't kill my PC

    I hope...*@

@inherits PanelComponent
@namespace GeneralGame
<root>
    <div class="blur_back"></div>
    <div class="body">
       
            <div class="title">Disable shadows?</div>
      
            <div class="message">That make your fps better</div>
        
        
            <div id="choices">
                <div class="button" onclick=@(() => OffShadows() )>Ok</div>
                <div class="button" onclick=@(() => Close() )>Hell naw</div>

            </div>
      
    </div>
</root>

@code
{

    [Property] public List<string> Choices { get; set; } = new() { "Ok", "Hell naw" };

    protected override int BuildHash() => System.HashCode.Combine( Choices?.Count);


    public void Close()
    {
        Enabled = false;
    }

    public void OffShadows()
    {
        if (!Game.ActiveScene.IsValid())
            return;

        var lights = Game.ActiveScene
            .GetAllComponents<Light>();
        foreach (var light in lights)
        {
            light.Shadows = false;
        }

        Close();
    }
}
