{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "A",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Run",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Walk",
      "KeyboardCode": "alt",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Duck",
      "KeyboardCode": "ctrl",
      "GamepadCode": "B",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Attack1",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions",
      "Title": "Primary Attack"
    },
    {
      "Name": "Attack2",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Actions",
      "Title": "Secondary Attack"
    },
    {
      "Name": "Reload",
      "KeyboardCode": "r",
      "GamepadCode": "X",
      "GroupName": "Actions",
      "Title": null
    },
    {
      "Name": "Use",
      "KeyboardCode": "e",
      "GamepadCode": "Y",
      "GroupName": "Actions",
      "Title": null
    },
    {
      "Name": "Slot1",
      "KeyboardCode": "1",
      "GamepadCode": "DpadWest",
      "GroupName": "Inventory",
      "Title": "Slot #1"
    },
    {
      "Name": "Slot2",
      "KeyboardCode": "2",
      "GamepadCode": "DpadEast",
      "GroupName": "Inventory",
      "Title": "Slot #2"
    },
    {
      "Name": "Slot3",
      "KeyboardCode": "3",
      "GamepadCode": "DpadSouth",
      "GroupName": "Inventory",
      "Title": "Slot #3"
    },
    {
      "Name": "Slot4",
      "KeyboardCode": "4",
      "GamepadCode": "None",
      "GroupName": "Inventory",
      "Title": "Slot #4"
    },
    {
      "Name": "Slot5",
      "KeyboardCode": "5",
      "GamepadCode": "None",
      "GroupName": "Inventory",
      "Title": "Slot #5"
    },
    {
      "Name": "Slot6",
      "KeyboardCode": "6",
      "GamepadCode": "None",
      "GroupName": "Inventory",
      "Title": "Slot #6"
    },
    {
      "Name": "Slot7",
      "KeyboardCode": "7",
      "GamepadCode": "None",
      "GroupName": "Inventory",
      "Title": "Slot #7"
    },
    {
      "Name": "Slot8",
      "KeyboardCode": "8",
      "GamepadCode": "None",
      "GroupName": "Inventory",
      "Title": "Slot #8"
    },
    {
      "Name": "Slot9",
      "KeyboardCode": "9",
      "GamepadCode": "None",
      "GroupName": "Inventory",
      "Title": "Slot #9"
    },
    {
      "Name": "Slot0",
      "KeyboardCode": "0",
      "GamepadCode": "None",
      "GroupName": "Inventory",
      "Title": "Slot #0"
    },
    {
      "Name": "SlotPrev",
      "KeyboardCode": "mouse4",
      "GamepadCode": "SwitchLeftBumper",
      "GroupName": "Inventory",
      "Title": "Previous Slot"
    },
    {
      "Name": "SlotNext",
      "KeyboardCode": "mouse5",
      "GamepadCode": "SwitchRightBumper",
      "GroupName": "Inventory",
      "Title": "Next Slot"
    },
    {
      "Name": "View",
      "KeyboardCode": "C",
      "GamepadCode": "RightJoystickButton",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "Voice",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "Drop",
      "KeyboardCode": "g",
      "GamepadCode": "None",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "Flashlight",
      "KeyboardCode": "f",
      "GamepadCode": "DpadNorth",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "Score",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu",
      "GroupName": "Other",
      "Title": "Scoreboard"
    },
    {
      "Name": "Menu",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightMenu",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "Inspect",
      "KeyboardCode": "h",
      "GamepadCode": "None",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "ChatLocal",
      "KeyboardCode": "y",
      "GamepadCode": "None",
      "GroupName": "Other",
      "Title": null
    }
  ],
  "__guid": "f17e35db-b63d-44a8-bcd0-b06ae7eb5a94",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}