@namespace GeneralGame.UI
@attribute [StyleSheet]
@inherits Panel

<root>
    <div class="blur_back"></div>
    <div class="body">

        <div class="title">Disable shadows?</div>

        <div class="message">That make your fps much better</div>


        <div id="choices">
            <div class="button" >Ok</div>
            <div class="button" >Hell naw</div>

        </div>

    </div>
</root>

@code {
	
    [Property] public List<string> Choices { get; set; } = new() { "Ok", "Hell naw" };

    protected override int BuildHash() => System.HashCode.Combine(Choices?.Count);
}
