@import "../Style.scss";

PauseMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    color: #fff;128
    pointer-events: all;

    .blur_back {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #000D;
        backdrop-filter: blur(5px);
    }

    .body {
        position: absolute;
        flex-direction: column;
        font-family: Poppins;
        color: white;
        width: 800px;
        height: 500px;
        border: 1px solid #fff3;
        border-radius: 10px;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(65, 65, 65, 0.5);
        backdrop-filter: blur(5px);

        .title {
            top: 30px;
            font-size: 42px;
        }

        .message {
            font-size: 28px;
        }


        #choices {
            flex-direction: column;
            width: 80%;
            justify-content: space-between;
            align-items: center;

            > * {
                margin: 10px;
            }
        }



        .button {
            width: 80%;
            font-size: 28px;
            justify-content: center;
            border: 1px solid rgba(65, 65, 65, 1);
            border-radius: 5px;
            padding: 10px 50px;
            background-color: rgba(65, 65, 65, 0.5);
            backdrop-filter: blur(10px);

            &:not(.disabled) {
                &:hover {
                    background-color: #FFF2;
                    border-color: #FFF;
                }
            }

            &.disabled {
                color: #fffA;
                border-color: #0002;
            }
        }
    }
}
